section {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center; 
  width:100%;
}
div {
  display:block;
  margin:30px;
 }
body {
  background-color: black;
  font-family: 'Inconsolata',monospace;
  padding:2rem;
}
p, h1, footer, a {
  color: white;
  text-align: center;
  text-decoration: none;
}
a {
  color: Gainsboro;
}
a:hover {
  color: White;
}
footer {
  font: 10px helvetica, sans-serif;
  margin-top: 80px;
}
.fa {
  font-size: 20px;
  width: 8px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 14px;
}

@media only screen and (max-width: 720px) {
  div {
    max-width:100%;
  }
}
iframe {
  margin-bottom:-100px;
  transition: all .3s;
}

